---
layout: page
title: Typography
---

<h1>Typography</h1>
<hr/>

<section id="section-typeset" class="section">
  <h2>Typeset</h2>
  <hr/>

  <h1 class="type-display3"><%= lorem.words 4 %></h1>
  <h2 class="type-display2"><%= lorem.words 4 %></h2>
  <h3 class="type-display1"><%= lorem.words 4 %></h3>
  <h4 class="type-headline"><%= lorem.words 4 %></h4>
  <h5 class="type-title"><%= lorem.words 4 %></h5>
  <h6 class="type-subhead"><%= lorem.words 4 %></h6>
  <p class="type-lead"><%= lorem.words 4 %></p>
  <p class="type-body"><%= lorem.paragraph %></p>
  <p class="type-footnote"><%= lorem.sentence %></p>
  <p class="type-caption"><%= lorem.words 4 %></p>
  <p class="type-small"><%= lorem.words 4 %></p>
  <p class="type-micro"><%= lorem.words 4 %></p>

</section>

<section id="section-text-colors" class="section">
  <h2>Text colors</h2>
  <hr/>

  <p><%= lorem.sentence %></p>
  <p class="text-secondary"><%= lorem.sentence %></p>
  <p class="text-disabled"><%= lorem.sentence %></p>
  <p class="text-primary"><%= lorem.sentence %></p>
  <p class="text-info"><%= lorem.sentence %></p>
  <p class="text-warning"><%= lorem.sentence %></p>
  <p class="text-danger"><%= lorem.sentence %></p>
  <p class="text-success"><%= lorem.sentence %></p>
</section>

<section id="section-links" class="section">
  <h2>Links</h2>
  <hr/>
  <div><a href="#">Quiero saber mas sobre los OKR’s  →</a></div>
  <div><a href="#" class="link">Quiero leer más →</a></div>
</section>
